@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
:root {
  --primary-color: #3a4052 // 主要顏色變數 ;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
body a {
  text-decoration: none;
  color: var(--primary-color);
}
body h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
}
body .showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: #ffffff;
}
body .showcase .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url("images/DSC_1965.JPG") no-repeat center center/cover;
}
body .showcase .video-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
body .showcase .video-container video {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .showcase .content {
  z-index: 10;
}
body .showcase .content .btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 25px;
  opacity: 0.7;
}
body .showcase .content .btn:hover {
  transform: scale(0.98);
}
body #about {
  padding: 40px;
  text-align: center;
}
body #about p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
}
body #about h2 {
  margin: 30px 0;
  color: var(--primary-color);
}
body #about .social a {
  margin: 0 5px;
}

@media (min-aspect-ratio: 16/9) {
  .video-background {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-background {
    width: auto;
    height: 100%;
  }
}